.main_container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.lorem_1{
    margin-left: 20px;
    width: 550px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.section_container img{
     width: 500px;
     height: 500px;
     position: relative;
}

.btn-hero{
    position: absolute;
    left: 47%;
    top: 77%;   
}

.content{
    font-size: 11px;
}

.btn-hero{
    font-size: 27px;
    padding: 16px 40px;
    background-color: #FF900E;;
    border: 0;
    outline: none;
    font-weight: bold;
    border-radius: 2px;
    color: #fff;
}





@media only screen and (max-width: 600px) {
    .main_container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }



    .section_container img{
        margin-left: 14px;
        width: 500px;
        height: 500px;
        position: relative;
   }


   .child__img{
     position: relative;
   }
   .btn-experience{
    position: absolute;
    margin-top: -17%;

   }

   
   .lorem_1{
       margin-left: 20px;
       width: 550px;
       box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
       0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
   }
   
   
   .content{
       font-size: 11px;
   }
   
   .btn-hero{
       font-size: 27px;
       padding: 15px 40px;
       background-color: #FF900E;;
       border: 0;
       outline: none;
       font-weight: bold;
       border-radius: 2px;
       color: #fff;
   }
   .lorem_1{
    width: 488px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.lorem_1 h1{
    padding: 5px 10px;
}
.lorem_1 p{
    padding: 5px 10px;
}
   
  }